@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Aluno"]</p>

<address>
    <strong>Github: </strong> <a href="https://github.com/brenojm">brenojm</a>
</address>
